{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
    <h1>Add product</h1>
    {{ form_start(addProductForm) }}
        {{ form_row(addProductForm.title) }}

        <button type="submit" class="btn">Add</button>
    {{ form_end(addProductForm) }}
{% endblock %}
